<!DOCTYPE html>
<script  src="client.js"></script>

<div id = "projectsWrapper">
    <% projectPageData.projects.forEach((project)=>{ %>
         <div>
             <img style ="height:10px"src="<%= project.image_url%>"/>
             <a href = "<%=project.url%>"><%=project.name%></a>
            <%  %> 
             Updated: <%= new Date(project.update*1000).toLocaleString() %>
        </div> 
    <% }) %>
</div>
<button id ="prev" onclick ="prev(<%-projectPageData.page - 1%>)"> &#8249; </button>

<button id="next" onclick ="next(<%-projectPageData.page + 1%>)"> &#8250; </button>
</html>