<!DOCTYPE html>

    <%-console.log(projectInfo)%>
    <h4><%-projectInfo.name%></h4>
    <img src="<%= projectInfo.image_url%>" style = "height:50px"/>
    <div class="desc"><%-projectInfo.summary%></div>
    <div class="tags"><%-projectInfo.tags%> Updated: <%-`${projectInfo.updated}` %></div>


<div>Related Projects</div>
</html>